:root {
  --second-color: black;
}

@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
}

html {
  background-color: beige;
}

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  display: grid;
  grid-template-rows: 80px auto 80px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  margin-left: 5%;
}

.header-left i {
  font-size: 1.5rem;
}

.header-left p {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 5px;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5%;
  gap: 2rem;
}

.header-right > * {
  font-size: 1.5rem;
  cursor: pointer;
}

.header-right .tooltip {
  background: none;
  color: gray;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 5%;
}

.brand {
  letter-spacing: 10px;
  font-size: 3rem;
  font-weight: bold;
  margin: 0.5rem 1rem;
}

.tagline {
  letter-spacing: 1px;
  text-align: center;
  line-height: 1.5;
  margin: 0.5rem 1rem;
  font-size: 0.9375rem;
}

.notification-line {
  font-size: 1.25rem;
  letter-spacing: 1px;
  text-align: center;
  margin: 0.5rem 1rem 0.5rem 1rem;
  color: var(--second-color);
}

form {
  padding: 0.5rem;
  display: flex;
}

input {
  width: 25rem;
  border: 1px solid gray;
  border-right: none;
  padding: 10px;
  border-right: none;
  border-radius: 999px;
}

button {
  padding: 10px;
  cursor: pointer;
  background-color: var(--second-color);
  color: white;
  width: 6.25rem;
  margin-left: -6.25rem;
  border-radius: 999px;
  border: none;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 5%;;
}

.footer p {
  font-size: 0.75rem;
}
