:root {
  --second-color: black;
}

@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
}

html {
  background-color: beige;
}

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  display: grid;
  grid-template-rows: 80px 9fr 1fr 80px;
}

.header {
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  margin-left: 5%;
}

.header-left i {
  font-size: 1.5rem;
}

.header-left p {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 5px;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5%;
  gap: 2rem;
}

.header-right > * {
  font-size: 1.5rem;
  cursor: pointer;
}

.header-right .tooltip {
  background: none;
  color: gray;
}

.main {
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 5%;
}

.brand {
  letter-spacing: 10px;
  font-size: 3rem;
  font-weight: bold;
  margin: 0.5rem 1rem;
}

.tagline {
  letter-spacing: 1px;
  text-align: center;
  line-height: 1.5;
  margin: 0.5rem 1rem;
}

.notification-line {
  letter-spacing: 1px;
  text-align: center;
  margin: 0.5rem 1rem 0.5rem 1rem;
  color: var(--second-color);
  font-size: 0.9375rem;
}

.thanks-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.thanks-icon {
  font-size: 2.5rem;
  color: darkgreen;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.thanks-message {
  letter-spacing: 1px;
  text-align: center;
  margin: 0.25rem 1rem 0.25rem 1rem;
  color: var(--second-color);
  font-size: 0.9375rem;
}

form {
  padding: 0.5rem;
  display: flex;
}

input {
  width: 16rem;
  border: 1px solid gray;
  border-right: none;
  padding: 10px;
  text-align: center;
}

button {
  padding: 10px;
  cursor: pointer;
  background-color: var(--second-color);
  color: white;
  width: 6.25rem;
  border: none;
}

.footer {
  grid-row: 4 / 5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 5%;;
}

.footer p {
  font-size: 0.75rem;
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }

  60% {
    opacity: 1;
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.animated-finite {
  animation-fill-mode: both;
  animation-duration: 1s;
}

.animated-infinite {
  animation-fill-mode: both;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
}

.bounceIn {
  animation-name: bounceIn;
}